site_name: Deliverable D6.2 Wiki
site_url: https://www.echoes-eccch.eu/
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/favicon.png
  font:
    text: Inter
    code: JetBrains Mono
  palette:
    - scheme: default
      primary: custom
      accent: custom
  features:
    - navigation.sections
    - navigation.indexes
    - navigation.instant
    - content.code.copy
    - search.suggest
    - search.highlight

extra_css:
  - stylesheets/extra.css  